body{
	background-color: #F5F5F5;
}

.padding-0 {
	padding: 0 !important;
}

.navbar .navbar-nav>li>a:hover, 
.navbar .navbar-nav>li>a:focus {
	color: #ffffff;
}

.dropdown-menu{
	padding: 1px 0;
	border-radius: 0;
}
.dropdown-menu>li>a{
	padding: 4px 20px;
}
.navbar .navbar-nav>.active>a, 
.navbar .navbar-nav>.active>a:hover, 
.navbar .navbar-nav>.active>a:focus {
	color: #ffffff;
}
@media (max-width: 767px){
	.navbar .navbar-nav .open .dropdown-menu>.active>a, 
	.navbar .navbar-nav .open .dropdown-menu>.active>a:hover, 
	.navbar .navbar-nav .open .dropdown-menu>.active>a:focus {
		background-color: rgba(255,255,255,.1);
	}
	.navbar .navbar-nav .open .dropdown-menu>li>a:hover, 
	.navbar .navbar-nav .open .dropdown-menu>li>a:focus {
		color: #ffffff;
	}
}

.list-group .list-group-item .row-content{
	min-height: 56px;
}